<%if logged_in?%>
    <%if current_user.id==1%>
        <%@answers.each.with_index(1) do|answer,index|%>
          <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle ">perm_identity</i>
              <h5><%=index%>:<%=answer.user_name%><a href="#!"><span class="new badge"></span></a></h5>
              <span><%=link_to"The answer was failure", answer, :method => :delete,class:"btn amber"%></span>
            </li>
          </ul>
         <%end%>
    <%=link_to "Next Question",question_answers_path,method: :delete,class: "waves-effect waves-light btn lime lighten-2" %>
        <%else%>
    <br>
    <%end%>
<%else%>
    <div class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-fixed-item center">
      </div>
      <div class="carousel-item red white-text" href="#one!">
        <h2></h2>
        <p class="white-text">This is your first panel</p>
      </div>
      <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
      </div>
      <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
      </div>
      <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
      </div>
    </div>
<%end%>